@mixin includeThing($thingName, $things...){
  $length: length($things);
  $thg: '';

  @for $i from 1 through $length{
    $thg: #{$thg + nth($things, $i)};
    @if $i<$length{
      $thg: #{$thg +', '};
    }
  }
  -webkit-#{$thingName}: $thg;
  -moz-#{$thingName}: $thg;
  -ms-#{$thingName}: $thg;
  -o-#{$thingName}: $thg;
  #{$thingName}: $thg;
}

@mixin keyframes($name){
  @-webkit-keyframes #{$name}{
    @content;
  }
  @-moz-keyframes #{$name}{
    @content;
  }
  @-o-keyframes #{$name}{
    @content;
  }
  @-ms-keyframes #{$name}{
    @content;
  }
  @keyframes #{$name}{
    @content;
  }
}
